.my-classes-item {
    background: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: .8rem;
    margin: -6.2rem auto 3.2rem;
    overflow: hidden;
}

.my-classes-item header {
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
}

.my-classes-item header img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.my-classes-item header div {
    margin-left: 2.4rem;
}

.my-classes-item header div strong {
    font: 700 2.4rem Archivo;
    display: block;
    color: var(--colot-texte-title);
}

.my-classes-item header div span {
    font-size: 1.6rem;
    display: block;
    margin-top: .4rem;
}

.my-classes-item > p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.my-classes-item .my-classes-item-schedule {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.2rem 2rem 0;
    position: relative;
    border-top: 1px solid var(--color-line-in-white);
}

.my-classes-item .my-classes-item-schedule .day-time {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-classes-item .my-classes-item-schedule .week-day {
    width: 100%;
    height: 4rem;
    background: var(--color-box-footer);
    border: 2px solid var(--color-box-footer);
    border-radius: .8rem;
    margin: 0.8rem 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    transition: border-color .3s;
}

.my-classes-item .my-classes-item-schedule .week-day.active {
    position: absolute;
    z-index: 2;
}

.my-classes-item .my-classes-item-schedule .week-day p span {
    display: none;
}

.my-classes-item .my-classes-item-schedule .week-day .day,
.my-classes-item .my-classes-item-schedule .week-day .time {
    font: 700 2rem Archivo;
    align-self: center;
    padding-left: 2.8rem;
}

.my-classes-item .my-classes-item-schedule .week-day img {
    align-self: center;
    justify-self: center;
    height: 100%;
}

.my-classes-item .my-classes-item-schedule .week-day .time {
    font: 700 2rem Archivo;
    align-self: center;
    justify-self: end;
    padding-right: 2.8rem;
}

.my-classes-item .my-classes-item-schedule .week-day:hover {
    border-color: var(--color-text-title);
    cursor: pointer;
}

.my-classes-item .my-classes-item-schedule .week-day.not-set-date {
    border: 2px solid var(--color-delete);
    opacity: .4;
}

.my-classes-item .my-classes-item-schedule .week-day.not-set-date:hover {
    cursor: not-allowed;
}

.my-classes-item footer {
    padding: 3.2rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.my-classes-item footer p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}

.my-classes-item footer p strong {
    color: var(--color-title-in-primary);
    font-size: 1.6rem;
    display: block;
}

.my-classes-item footer button {
    width: 100%;
    height: 5.6rem;
    background: rgb(255,0,0);
    color: var(--color-button-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    transition: .2s;
}

.my-classes-item footer button:hover {
    background: rgb(255, 63, 63);
}

@media (min-width: 700px) {
    .my-classes-item {
        margin: 3.2rem auto;
    }

    .my-classes-item header,
    .my-classes-item footer {
        padding: 3.2rem;
    }

    .my-classes-item > p {
        padding: 0 3.2rem;
    }

    .my-classes-item .my-classes-item-schedule {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 1.4rem;

        margin: 3.2rem auto;
        border: 0;
    }

    .my-classes-item .my-classes-item-schedule.activatedDay {
        display: flex;
        flex-direction: row;
    }

    .my-classes-item .my-classes-item-schedule .day-time {
        display: none;
    }

    .my-classes-item .my-classes-item-schedule .week-day {
        width: 100%;
        height: 13.6rem;
        background: var(--color-box-footer);
        border: 2px solid var(--color-box-footer);
        border-radius: .8rem;
        margin: 0.8rem 0;
        padding: 1rem 1.6rem;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .my-classes-item .my-classes-item-schedule .week-day.active {
        display: grid;
        grid-template-columns: repeat(auto-fill, 120px);
        grid-template-rows: repeat(auto-fit, 32px);
        gap: 8px !important;
        overflow-y: scroll;
    }

    .my-classes-item .my-classes-item-schedule .week-day p span {
        display: initial;
    }

    .my-classes-item .my-classes-item-schedule .week-day  img {
        display: none;
    }

    .my-classes-item .my-classes-item-schedule .week-day p {
        display: flex;
        flex-direction: column;
    }

    .my-classes-item .my-classes-item-schedule .week-day p span {
        font: 400 1.4rem Poppins;
        color: var(--color-text-complement);
    }

    .my-classes-item .my-classes-item-schedule .week-day .day,
    .my-classes-item .my-classes-item-schedule .week-day .time {
        align-self: auto;
        padding: 0;
    }

    .my-classes-item footer {
        flex-direction: row;
    }

    .my-classes-item footer p {
        width: auto;
    }

    .my-classes-item footer p strong {
        display: initial;
        margin-left: 1.6rem;
    }

    .my-classes-item footer button {
        width: 31.5rem;
        font-size: 1.6rem;
        justify-content: center;
    }

    .my-classes-item footer a img {
        margin-right: 1.6rem;
    }
}